div
{
    background-color: #E4F9F5;
}
h1{
    margin: auto 0 auto 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-top: 50px;
    color:  #66BFBF;

}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
hr{
    border: dotted 6px;
    border-bottom: none;
    width: 4%;
    color: grey;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%;
    font-size: 1.5rem;
}
.middle-container{
    
    margin-top: 0;
    
   
}

.bottom-container{
    margin-top: 20px;
    background-color:#11CDD4;
    padding: 50px 0 20px;
  
}
.toppic{
    margin-top: 50px;
    
}
.copy{
    color: white;
    font-size: 0.75rem;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #E4F9F5;
}
.profilepic{
    height: 20px;
    width: 20px;
}
.tab{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.contactmsg{
    width: 40%;
    margin: 40px auto 60px;
}
.footer_link{
   background-color: #66BFBF;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.techpic{
    width: 25%;
    float: right;
    margin-right: 30px;
}
.skillpic{
    width: 25%;
    float: left;
    margin-left: 30px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
  .toppic{
    width: 70%;
    height: 150px;
  }
  .bottompic{
    width:70%;
    height: 250px;

  }